body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #074164;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: white;
}

header .logo img {
    max-height: 45px;
    margin-right: 10px;
}

main {
    margin-top: 70px; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.user-section {
    width: 80%;
    max-width: 1200px;
}

.user-section h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
    color: #074164;
}

.table-container {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-user-button{
    position: absolute;
    top:115px;
    right:100px;
    background-color: #454ed0;
    color:white;
    border: none;
    padding: 10px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor:pointer;
}

.add-user-button:hover{
    background-color: #3840aa;
}

#users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #ddd;
    
}

#users-table th,
#users-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left; 
}

#users-table th {
    background-color: #e0e0e0;
    color: black;
    font-weight: bold;
}

#users-table tr:nth-child(even) {
    background-color: #f2f2f2;
    
}

#users-table tr:hover {
    background-color: #f1f1f1;
}
